<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name ="Submit Order">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Initial.SubmitOrder"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Error Validation">
    <classes>
      <class name="com.Initial.ErrorValidations"/>
    </classes>
  </test> 
  
</suite> <!-- Suite -->
